<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.usongon.pocketmedical.dao.AdminMapper">
  <resultMap id="BaseResultMap" type="com.usongon.pocketmedical.bean.entity.Admin">
    <!--@mbg.generated-->
    <!--@Table admin-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="admin_id" jdbcType="VARCHAR" property="adminId" />
    <result column="admin_name" jdbcType="VARCHAR" property="adminName" />
    <result column="admin_mobile" jdbcType="VARCHAR" property="adminMobile" />
    <result column="admin_password" jdbcType="VARCHAR" property="adminPassword" />
    <result column="admin_state" jdbcType="VARCHAR" property="adminState" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, admin_id, admin_name, admin_mobile, admin_password, admin_state
  </sql>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.usongon.pocketmedical.bean.entity.Admin" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into admin (admin_id, admin_name, admin_mobile, 
      admin_password)
    values (#{adminId,jdbcType=VARCHAR}, #{adminName,jdbcType=VARCHAR}, #{adminMobile,jdbcType=VARCHAR}, 
      #{adminPassword,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.usongon.pocketmedical.bean.entity.Admin" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into admin
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="adminId != null">
        admin_id,
      </if>
      <if test="adminName != null">
        admin_name,
      </if>
      <if test="adminMobile != null">
        admin_mobile,
      </if>
      <if test="adminPassword != null">
        admin_password,
      </if>
      <if test="adminState != null">
        admin_state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="adminId != null">
        #{adminId,jdbcType=VARCHAR},
      </if>
      <if test="adminName != null">
        #{adminName,jdbcType=VARCHAR},
      </if>
      <if test="adminMobile != null">
        #{adminMobile,jdbcType=VARCHAR},
      </if>
      <if test="adminPassword != null">
        #{adminPassword,jdbcType=VARCHAR},
      </if>
      <if test="adminState != null">
        #{adminState,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="selectByAdminMobileAndAdminState" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from admin
        where admin_mobile=#{adminMobile,jdbcType=VARCHAR} and admin_state='On' limit 1
    </select>
  <update id="updateByAdminId">
        <!--@mbg.generated-->
        update admin
        <set>
            <if test="updated.id != null">
                id = #{updated.id,jdbcType=INTEGER},
            </if>
            <if test="updated.adminId != null">
                admin_id = #{updated.adminId,jdbcType=VARCHAR},
            </if>
            <if test="updated.adminName != null">
                admin_name = #{updated.adminName,jdbcType=VARCHAR},
            </if>
            <if test="updated.adminMobile != null">
                admin_mobile = #{updated.adminMobile,jdbcType=VARCHAR},
            </if>
            <if test="updated.adminPassword != null">
                admin_password = #{updated.adminPassword,jdbcType=VARCHAR},
            </if>
            <if test="updated.adminState != null">
                admin_state = #{updated.adminState,jdbcType=VARCHAR},
            </if>
        </set>
        where admin_id=#{adminId,jdbcType=VARCHAR}
    </update>

<!--auto generated by MybatisCodeHelper on 2020-03-31-->
  <select id="selectByAdminIdAndAdminState" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from admin
        where admin_id=#{adminId,jdbcType=VARCHAR} and admin_state != 'Del'
    </select>
</mapper>