<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.usongon.pocketmedical.dao.DepartmentMapper">
  <resultMap id="BaseResultMap" type="com.usongon.pocketmedical.bean.entity.Department">
    <!--@mbg.generated-->
    <!--@Table department-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="department_id" jdbcType="VARCHAR" property="departmentId" />
    <result column="department_name" jdbcType="VARCHAR" property="departmentName" />
    <result column="is_del" jdbcType="TINYINT" property="isDel" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, department_id, department_name, is_del, create_time, update_time
  </sql>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.usongon.pocketmedical.bean.entity.Department" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into department (department_id, department_name)
    values (#{departmentId,jdbcType=VARCHAR}, #{departmentName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.usongon.pocketmedical.bean.entity.Department" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into department
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="departmentId != null">
        department_id,
      </if>
      <if test="departmentName != null">
        department_name,
      </if>
      <if test="isDel != null">
        is_del,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="departmentId != null">
        #{departmentId,jdbcType=VARCHAR},
      </if>
      <if test="departmentName != null">
        #{departmentName,jdbcType=VARCHAR},
      </if>
      <if test="isDel != null">
        #{isDel,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="selectAllByDepartmentIdAndIsDel" resultType="com.usongon.pocketmedical.bean.result.DepartmentResult">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from department
        where is_del=0
    </select>
  <update id="updateIsDelByDepartmentId">
        <!--@mbg.generated-->
        update department
        set is_del = 1
        where department_id=#{departmentId,jdbcType=VARCHAR}
    </update>
</mapper>